/* Sobre mi */
.sobremi {
  background-color: #17171a;
  color: #ebebee;
  padding: 100px 0 140px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobremi .contenido-seccion {
  width: 100%;
}

.sobremi .section-header p { text-align: justify; }
.sobremi h2 { font-family: 'Fredericka the Great', cursive; text-align: center; }
.sobremi .section-header .text { display: flex; align-items: center; text-align: center; justify-content: center; }

.sobremi .card {
  background-color: #24252a;
  border: 6px double #17171a;
} .sobremi .card:hover {
  transform: translateY(-5px);
}

.sobremi .card .textSer {
  margin-top: 70px;
}

.sobremi .card .contIcons img {
  width: 130px;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: 500ms;
  margin-top: 100px;
}
.sobremi .card-wrap .card .contIcons img:hover {
  filter: grayscale(0%);
}

@media only screen and (max-width: 500px) {
  .sobremi .card .textSer {
    margin-top: 0;
    padding-top: 10px;
  }
  
  .sobremi .card .contIcons img { width: 100px; margin-top: 0; }
}
/* Sobre mi */
