/* Header */
header {
  padding-top: 90px;
  width: 100%;
  height: 100%;
  background-color: #17171a;
  overflow: hidden;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 50;
  margin-top: -90px;
  background-color: #24252a;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  transition: 1.0s;
}

::-webkit-scrollbar-thumb {
  background-color: var(--verdin);
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 1.0s;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--verdin);
  transition: 0.3s;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
  background: var(--verdin);
}

::-webkit-scrollbar-corner {
  background: none;
}

nav .container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4.5rem;
  align-items: center;
}

.links ul { display: flex; }

.links a {
  display: inline-block;
  padding: 1rem 1.9rem;
  color: var(--white-there);
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 550;
  line-height: 1;
}

.links a:hover {
  display: inline-block;
  padding: 0.9rem 1.2rem;
  color: var(--verdin);
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 550;
  line-height: 1;
}

.links a.active {
  cursor: pointer;
  border-radius: 30px;
  border: none;
  background-color: var(--verdin);
  color: #17171a;
  display: block;
  width: 150px;
  height: 45px;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;
}

.hamburger-menu {
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: var(--light-three);
  font-size: 1.2rem;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  top: 1px;
}

.hamburger-menu .bar {
  position: relative;
  width: 2.1rem;
  height: 2px;
  border-radius: 3px;
  background-color: var(--verdin);
  transition: 0.5s;
  z-index: 1000;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 2.1rem;
  height: 2px;
  border-radius: 3px;
  background-color: var(--verdin);
  transition: 3s;
}

.bar:before { transform: translateY(-9px); }
.bar:after { transform: translateY(9px); }
header nav.open .links { 
  transform: translateX(0%); 
  background-color: #17171a; 
}

.header-title { font-size: 3.3rem; color: var(--white-there); font-family: 'Fredericka the Great', cursive; }
.header-content .text { margin: 1.5rem 0; }

.column-1 .contButtonsHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-medias {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-medias a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: #a8a4a4;
  transition: 0.3s;
  width: 60px;
  height: 60px;
  border: 3px solid #17171a;
  background-color: #24252a;
  border-radius: 50%;
}

.social-medias a:nth-child(1):hover { color: #706CE7; }
.social-medias a:nth-child(2):hover { color: #F5D755; }
.social-medias a:nth-child(3):hover { color: #F5D755; }
.social-medias a:nth-child(4):hover { color: #F77D8C; }
.column-1 { padding: 10px; text-align: justify; }

.btn1,
.btn2 {
  width: 30px;
  height: 30px;
  background-color: var(--verdin);
  border: none;
  border-radius: 50%;
  transition: 0.3s;
}

.btn1:hover { background-color: #706CE7; }
.principal:hover { background-color: #F5D755; }
.btn2:hover { background-color: #F77D8C; }

.header-content {
  padding-bottom: 100px;
}
/* End header */
