.servicesPortafolio {
  display: flex;
  align-items: center;
}

.porta {
  padding: 0;
}

.cardsPortafolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-evenly;
  width: 100%;
  grid-gap: 5px;
  padding: 0 15px;
}

.cardsPortafolio .card-wrap {
  position: relative;
  margin: 0;
}

.cardPortafolio {
  min-width: 336px;
  height: 100%;
  background-color: #17171a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #3f3f3f;
  transition: 500ms;
}

.cardPortafolio .btn {
  background-color: #17171a;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon { 
  border-radius: 10px 10px 0 0; 
  width: 100%;
  border-bottom: 2px solid #3f3f3f;
}

.cardPortafolio h3 { color: #b4b4b4; padding:  0 10px;}
.btns1:hover { background-color: #706CE7; color: #000; }
.btns2:hover { background-color: #F5D755; color: #000; }
.btns3:hover { background-color: #F77D8C; color: #000; }
.card-wrap:hover .cardPortafolio { transform: translateY(-5px); }

@media only screen and (max-width: 1100px) {
  .cardsPortafolio {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .cardsPortafolio {
    grid-template-columns: 1fr;
  }
}
/* End Portfolio */
