/* Records */
.skills {
  position: relative;
  margin-top: 100px;
  color: #fff;
  background-color: #17171a;
  padding: 0 2px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-habilidades { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.cardHabilidad {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  background-color: #24252a;
  border-radius: 20px;
  overflow: hidden;
  border: 6px double #17171a;
}

.cardHabilidad:hover {
  transition: 350ms;
  scale: 0.95;
}

.contImage { padding-bottom: 30px; }

.contImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
}

.cardHabilidad img {
  width: 100px;
  height: 100px;
  filter: drop-shadow(8px 8px 4px #111113);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: 0.3s;
}

.cardHabilidad:hover a { background-color: var(--verdin); color: #111113; }
.cardHabilidad:hover .progreso1 { width: 70%; background-color: var(--verdin); transition: 500ms; }
.cardHabilidad:hover .progreso2 { width: 70%; background-color: var(--verdin); transition: 500ms; }
.cardHabilidad:hover .progreso3 { width: 32%; background-color: var(--verdin); transition: 500ms; }
.cardHabilidad:hover .progreso4 { width: 26%; background-color: var(--verdin); transition: 500ms; }
.cardHabilidad:hover .progreso5 { width: 22%; background-color: var(--verdin); transition: 500ms; }
.cardHabilidad:hover .progreso6 { width: 42%; background-color: var(--verdin); transition: 500ms; }
.cardHabilidad:hover .progreso7 { width: 20%; background-color: var(--verdin); transition: 500ms; }
.cardHabilidad:hover .progreso8 { width: 12%; background-color: var(--verdin); transition: 500ms; }
.cardHabilidad:hover .progreso9 { width: 32%; background-color: var(--verdin); transition: 500ms; }
.cardHabilidad:hover .progreso10 { width: 42%; background-color: var(--verdin); transition: 500ms; }
.cardHabilidad:hover .progreso11 { width: 30%; background-color: var(--verdin); transition: 500ms; }
.cardHabilidad:hover .progreso12 { width: 10%; background-color: var(--verdin); transition: 500ms; }

.number { font-weight: 400; font-size: 2.35rem; font-family: 'Silkscreen', cursive; }
.sub-title { font-weight: 400; font-size: 1.12rem; text-transform: uppercase; }

.barraprogreso {
  background-color: #17171a;
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  border: none;
}

.progreso1,
.progreso2,
.progreso3,
.progreso4,
.progreso5,
.progreso6,
.progreso7,
.progreso8,
.progreso9,
.progreso10,
.progreso11,
.progreso12 {
  height: 10px;
  background-color: #17171a;
  margin: -1px;
  border: none;
}

.progreso1 { width: 1%; }
.progreso2 { width: 1%; }
.progreso3 { width: 1%; }
.progreso4 { width: 1%; }
.progreso5 { width: 1%; }
.progreso6 { width: 1%; }
.progreso7 { width: 1%; }
.progreso8 { width: 1%; }
.progreso9 { width: 1%; }
.progreso10 { width: 1%; }
.progreso11 { width: 1%; }
.progreso12 { width: 1% ;}

.barraprogreso a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17171a;
  border: 6px double #24252a;
  color: #17171a;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-family: 'Silkscreen', cursive;
}
/* End Records */

@media only screen and (max-width: 730px) {
  #habilidades .contenedor-habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1400px) {
  .cardHabilidad {
    transition: 500ms;
    width: 230px;
    height: 230px;
  }
}

@media only screen and (max-width: 1200px) {
  .cardHabilidad {
    transition: 500ms;
    width: 200px;
    height: 200px;
  }
}
