/* Records */
.skills {
  color: #fff;
  background-color: #17171a;
  padding: 100px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-habilidades { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; }

.cardHabilidad {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  background-color: #24252a;
  border-radius: 15px;
  overflow: hidden;
}

.contImage { padding-bottom: 30px; }

.contImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
}

.cardHabilidad img {
  width: 100px;
  height: 100px;
  filter: drop-shadow(8px 8px 4px #111113);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: 0.3s;
}

.cardHabilidad:hover img {
  width: 110px;
  height: 110px;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.cardHabilidad:hover a { background-color: var(--verdin); color: #111113; }
.cardHabilidad:hover .progreso1 { width: 78%; background-color: var(--verdin); }
.cardHabilidad:hover .progreso2 { width: 82%; background-color: var(--verdin); }
.cardHabilidad:hover .progreso3 { width: 32%; background-color: var(--verdin); }
.cardHabilidad:hover .progreso4 { width: 26%; background-color: var(--verdin); }
.cardHabilidad:hover .progreso5 { width: 22%; background-color: var(--verdin); }
.cardHabilidad:hover .progreso6 { width: 42%; background-color: var(--verdin); }
.cardHabilidad:hover .progreso7 { width: 50%; background-color: var(--verdin); }
.cardHabilidad:hover .progreso8 { width: 12%; background-color: var(--verdin); }
.cardHabilidad:hover .progreso9 { width: 32%; background-color: var(--verdin); }
.cardHabilidad:hover .progreso10 { width: 42%; background-color: var(--verdin); }
.cardHabilidad:hover .progreso11 { width: 30%; background-color: var(--verdin); }

.records {
  position: relative;
  background-color: #17171a;
  padding: 5.2rem 0;
  top: -60px;
  z-index: 1;
}

.records .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.record-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
  border: 4px solid var(--verdin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--light-three);
}

.record-circle.active {
  background-color: var(--light-thoro);
  color: var(--light-three);
  box-shadow: 0 0 0 15px rgba(248, 247, 247, 0.938);
  border: 4px solid var(--light-thoro);
}

.number { font-weight: 400; font-size: 2.35rem; font-family: 'Silkscreen', cursive; }
.sub-title { font-weight: 400; font-size: 1.12rem; text-transform: uppercase; }

.barraprogreso {
  background-color: #17171a;
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  border: none;
}

.progreso1,
.progreso2,
.progreso3,
.progreso4,
.progreso5,
.progreso6,
.progreso7,
.progreso8,
.progreso9,
.progreso10,
.progreso11 {
  height: 10px;
  background-color: #17171a;
  margin: -1px;
  transition: 0.3s;
  border: none;
}

.progreso1 { width: 2%; }
.progreso2 { width: 2%; }
.progreso3 { width: 2%; }
.progreso4 { width: 2%; }
.progreso5 { width: 2%; }
.progreso6 { width: 2%; }
.progreso7 { width: 2%; }
.progreso8 { width: 2%; }
.progreso9 { width: 2%; }
.progreso10 { width: 2%; }
.progreso11 { width: 2%; }

.barraprogreso a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17171a;
  border: none;
  color: #17171a;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: 'Silkscreen', cursive;
}
/* End Records */
