/* Responsive */
@media screen and (max-width: 2000px) {
  .hamburger-menu { display: none; }
}


@media screen and (max-width: 1920px) {
  .hamburger-menu { display: none; }
}

@media screen and (max-width: 1900px) {
  .hamburger-menu { display: none; }
}

@media (max-width: 1500px) {
  .footer .footer-newstletter { display: none; }
  header { height: 80rem; }
}

@media screen and (max-width: 1200px) {
  .hamburger-menu { display: none; }
}

@media (max-width: 1280px) {
  .text { font-size: 1rem; }

  .title {
    font-size: 2.1rem;
    padding-bottom: 0.65rem;
  }

  .title:before {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }

  .title:after {
    height: 3.5px;
    width: 70px;
  }

  .title-sm { font-size: 1.2rem; }

  .btn {
    padding: 0.75rem 1.7rem;
    font-size: 0.8rem;
  }

  .btn.small {
    padding: 0.65rem 1.6rem;
    font-size: 0.7rem; }

  .section-header .text { max-width: 500px; }
  .section { padding: 7rem 0; }

  .overlay.overlay-lg .shape.wave {
    height: initial;
    width: 63px;
    visibility: hidden;
  }

  .overlay.overlay-sm .shape {
    height: 24px;
    visibility: hidden;
  }

  header .letters { width: 11%; }
  .header-content .image .img-element { max-width: 500px; }
  nav .container { height: 4.5rem; }

  .links a {
    font-size: 0.8rem;
    padding: 0.65rem 0.7rem;
  }

  .header-title { font-size: 2.6rem; }
  .header-content .text { margin: 1.1rem 0; }

  .icon {
    width: 65px;
    margin-bottom: 0.8rem;
  }

  .card .text {
    font-size: 0.9rem;
    margin: 1rem 0;
  }

  .card:before { font-size: 5rem; }
  .points-sq { width: 150px; }
  .grid { margin: 0.8rem 0; }

  .gallery-image {
    height: 250px;
    max-width: 325px;
  }

  .gallery-image .img-overlay { padding: 1.4rem 2rem; }

  .plus:before,
  .plus:after { width: 2.8rem; }
  .img-overlay h3 { font-size: 1.1rem; }
  .img-overlay h5 { font-size: 0.8rem; }
  .background-bg { height: 370px; }

  .filter-btn {
    padding: 0.6rem 1.45rem;
    font-size: 0.7rem;
  }

  .skills { margin: 0.9rem 0 1.7rem 0; }
  .skill-title { font-size: 1rem; }
  .skill-bar { height: 6px; }

  .btn.small { padding: 6px 6px; }

  .rate {
    font-size: 1.15rem;
    margin-bottom: 1.1rem;
  }

  .review-text { font-size: 1.05rem; }
  .review-info { margin-top: 1.1rem; }
  .review-name { font-size: 1.05rem; }
  .review-job { font-size: 0.85rem; }
  .quote { font-size: 6.5rem; }
  .review-nav { font-size: 1.55rem; }

  .information-wrap { margin-top: 1.2rem; }

  .hireme { padding: 8rem 0; }
  .footer { padding: 4rem 0; }
  .footer-links a { font-size: 1rem; }
  .footer .title-sm { margin-bottom: 0.5rem; }

  .footer-input-wrap {
    height: 36px;
    margin-top: 0.8rem;
  }

  .footer-input {
    font-size: 0.9rem;
    padding: 0 1.2rem;
  }

  .input-arrow { font-size: 1.2rem; }
  .copyright .text { font-size: 0.95rem; }
  .followme h3 { font-size: 1.05rem; }
  .followme .footer-line { margin: 0 0.8rem; }
  .social-media a { font-size: 1.05rem; }
  .column-1 .header-title { font-size: 2.5rem; }
  .footer .wave { margin-top: -70px; }

  .skills .fila .col .barra-skill { width: 100%; }
  #services { bottom: 10px; }
  #skills { margin-top: 40px; }

  .links button.active {
    height: 50px;
    width: 180px;
  }

}

@media (max-width: 1000px) {
  .links button.active {
    height: 50px;
    width: 180px;
  }
  
  .footer .footer-newstletter { display: none; }

  header nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #habilidades .contenedor-habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contenedor-habilidades .cardHabilidad {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 850px) {
  .contButtonsHeader { flex-wrap: wrap; }

  .footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    flex-wrap: wrap;
    padding: 0;
  }

  .hamburger-menu { display: flex; }
  .bar::before,
  .bar::after {
    content: "";
    position: absolute;
    width: 2.1rem;
    height: 2px;
    border-radius: 3px;
    background-color: var(--verdin);
    transition: 3s;
    margin-top: 0px !important;
  }
  .header-content { margin-top: 1rem; }
  .header-title { font-size: 2.3rem; }

  .links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul { flex-direction: column; }
  .links a { color: var(--light-one); }
  .links a.active { margin-left: 0; margin: 0.5rem 0; }
  .header-content .container.grid-2 { min-height: 80vh; }
  .background-bg { height: 340px; }
  .skill-bar { width: 100%; }
  .about .column-1:before { font-size: 5rem; }
  .about .points { top: 60%; left: 59%; }
  .records .container { grid-template-columns: repeat(2, 1fr); }
  .review-nav { bottom: 3rem; }
  .contact-box { grid-template-columns: 1fr; }
  .contact-form { padding-left: 0; padding-top: 0.5rem; }
  .information-wrap { margin-top: 0.7rem; }
  .information:not(:last-child) { margin-bottom: 0.8rem; }
  .contact-input.textarea { min-height: 220px; }
  .contact:before { height: 25%; }
  .contact:after { height: 75%; top: 25%; }
  .hireme { margin-top: -90px; }

  .bottom-footer {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 1.5rem 0 0 0;
    margin-top: 2.5rem;
    position: relative;
  }

  .bottom-footer:before {
    content: "";
    position: absolute;
    width: 90%;
    max-width: 500px;
    height: 1px;
    background-color: #7b7b7b;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .followme-wrap { margin-top: 0.8rem; }

  .footer .grid-4 {
    display: flex;
    align-items: top;
    justify-content: top;
  }

  .footer-about {
    display: flex;
    align-items: top;
    justify-content: top;
    flex-direction: column;
  }

  .footer-links {
    display: flex;
    align-items: top;
    justify-content: top;
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .footer .grid-4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-about {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer .grid-4 .footer-links { display: none; }
  .footer-links .footer-linkss { display: none; }

  .column-1 {  margin-top: -10px; }
  .column-2 img { width: 500px;   padding-bottom: 0; }
}

@media (max-width: 560px) {
  .contenedor-habilidades .cardHabilidad {
    width: 200px;
    height: 200px;
    margin: 5px;
  }

  .container { padding: 0 2rem; }
  .container.grid-2 { margin-top: -50px; }

  header nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .column-1 .header-title { font-size: 2rem; }
  #services { bottom: 10px; }
  .title { font-size: 1.8rem; }
  .text { font-size: 0.92rem; }
  .skills .fila .col { width: 10%; }
  .skills .fila .col .barra-skill { width: 100%; }
  .testi-content { margin-top: 1rem; }
  .review { padding: 1.5rem 1rem; }
  .review-text { font-size: 0.9rem; }
  .review-nav { bottom: 1.5rem; font-size: 1.3rem; }

  .column-2 img { width: 400px; }
  .column-1 p { font-size: 1rem; text-align: left; }
  .column-1 .text span { font-size: 1rem; }

  .column-1 .social-medias {
    height: 50px;
  }

  .column-1 .social-medias a {
    width: 50px;
    height: 50px;
  }

  .footer .grid-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer-links .footer-linkss { display: none; }

  .footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-medias {
    padding-left: 0;
  }
}

@media (max-width: 430px) {
  .container {
    width: 100%;
  }

  .header-content .social-medias {
    width: 100% !important;
  }

  .header-content .contButtonsHeader {
    width: 100% !important;
  }

  .col h2 { font-size: 1rem; }
  .servicesPortafolio { width: 100%; }
  .contact-info { width: 230px; }
  .column-2 img { width: 350px; }

  .contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom-footer .copyright .text { font-size: 0.8rem; }
  .bottom-footer .followme-wrap .followme h3 { font-size: 1rem; }
  .bottom-footer .followme-wrap .followme i { display: flex; font-size: 0.8rem; }
  .back-btn-wrap .back-btn { margin-top: 50px; width: 50px; height: 50px; }
  .grid-4 .footer-links a { font-size: 0.8rem; }

  .footer .container .followme-wrap .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer .container .followme-wrap .followme h3 { font-size: 1rem; }
  .footer .container .bottom-footer .copyright p { padding-top: 10px; }
  .contact-box .contact-form { display: flex; }

  .column-1 .contButtonsHeader .header-title { font-size: 1.5rem; }
  .contButtonsHeader .social-medias a { font-size: 1.5rem; }
  .services .cards .card-wrap .card .card-content .tit { padding: 20px 50px 0 50px; transition: 500ms; }
  .services .textSer { font-size: 1rem; }
  .contenedor-habilidades .cardHabilidad { width: 160px; margin: 5px; }
  .contenedor-habilidades .cardHabilidad img { width: 80px; height: 80px; }
  .cardHabilidad:hover img { width: 90px; height: 90px; }

  .column-2 img { width: 300px; }
  .contact-box { padding: 0; }
  .contact-form h2 { font-size: 2rem; }
  .contact-info h2 { font-size: 2rem; }
  .contact-input { width: 100%; font-size: 1rem !important; }
  .row textarea { width: 100%; }
}
/* End Responsive */
