/* Services */
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
}

.card-wrap { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 350px;
  height: 350px;
  background-color: #17171a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 1rem;
  transition: 0.3s;
  color: #a7a7a8;
  border: 2px solid #3f3f3f;
  border-radius: 20px;
}

.icon { width: 400px; margin-bottom: 1.7rem; }
.card-content .tit { line-height: 0.8; font-size: 1.5rem; padding-top: 20px; }
.card .text { font-size: 1.15rem; margin: 1.8rem 0; }

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-content .contIcons {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons { width: 100px; filter: drop-shadow(8px 8px 0px #111113); transition: 0.3s; }

.textSer {
  padding-top: 1.5rem;
  padding-bottom: 40px;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: bold;
  transition: 0.3s;
}
/* End Services */


@media only screen and (max-width: 1100px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr;
    align-items: center !important;
    justify-content: center !important;
    grid-gap: 10px 0;
    padding: 0;
    margin: 0;
  }
}
