/* Services */
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card-wrap { position: relative; margin: 5px 5px;}

.card {
  position: relative;
  width: 100%;
  max-width: 390px;
  min-height: 400px;
  background-color: #17171a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 2rem;
  overflow: hidden;
  transition: 0.3s;
  color: #a7a7a8;
  transition: 500ms;
  border-radius: 20px;
}

.icon { width: 400px; margin-bottom: 1.7rem; }
.card-content .tit { line-height: 0.8; font-size: 1.5rem; padding-top: 20px; }
.card .text { font-size: 1.15rem; margin: 1.8rem 0; }

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-content .contIcons {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons { width: 100px; filter: drop-shadow(8px 8px 0px #111113); transition: 0.3s; }
.card-wrap:hover .icons { width: 110px; }

.textSer {
  padding-top: 1.5rem;
  padding-bottom: 40px;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: bold;
  transition: 0.3s;
}
/* End Services */
