@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html { position: relative; 
    scrollbar-color: #151c22 #070a0d !important;
    scrollbar-width: thin !important; 
}

body {
    background-color: #0a0a0b;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    padding: 0 30px;
}

.nav-bar {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px 0 10px;
    position: fixed;
    top: 10px;
    backdrop-filter: blur(10px);
    background-color: #111112;
    z-index: 2000;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0 0 30px #202020;

    & .cont-links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        & h1 { 
            color: #ff4264;
            font-size: 20px;
            padding: 5px 15px;
            background-color: #2b191d;
            box-shadow: inset 0 0 10px #41262c;
            border-radius: 40px;
            font-weight: 500;
        }

        & .nav-links {
            display: flex;
            list-style-type: none;
            gap: 10px;

            & .link a {
                text-decoration: none;
                color: #fff;
                font-weight: 500;

                &:hover {
                    color: #ff4264;
                }
            }
        }
    }
}

.cont-title {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    & .cont-img2 {
        margin-right: 10px;
        width: 80px;
        height: 80px;
        border: 2px solid #fff;
        border-radius: 50%;
        background-image: url('images/Yo.png');
        background-size: 200px;
        background-repeat: no-repeat;
        background-position-x: -60px;
        background-position-y: -15px;
    }
}

header {
    z-index: 1000 !important;
    width: 100%;
    display: grid;
    place-items: start;
    position: relative;
    overflow: hidden;
    padding-top: 180px;
    max-width: 1200px;
    margin: 0 auto;
  
    & .content1 {
        max-width: 1200px;
        width: 100%;
        padding-top: 10px;

        & .title {
            font-size: 30px;
            font-weight: 900;
            position: relative;
            color: #fff;
            padding: 0;
            margin: 0;
        }

        & p { 
            color: #a3a3a3; 
            padding: 15px 0; 
            font-size: 16px !important; 
            line-height: 24px; 
            text-align: left; 
            font-weight: 400;
        }
    }

    & .social-media {
        display: flex;
        gap: 10px;
        padding-top: 10px;

        & .cont-social-media {
            border-radius: 20px;
            background-color: #070a0d;
            background-color: #171718;
            box-shadow: inset 0 0 10px #202020;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 20px;
            text-decoration: none;
            color: #a3a3a3;
            font-size: 16px;

            &:hover {
                background-color: #2b191d;
                color: #ff4264;
                box-shadow: inset 0 0 10px #41262c;

                & i {
                    color: #ff4264;
                }
            }

            & i { color: #a3a3a3; font-size: 1.4rem; margin-top: -2px; margin-right: 5px;}
        }
    }

    & .active {
        background-color: #2b191d !important;
        color: #ff4264 !important;
        box-shadow: inset 0 0 10px #41262c !important;

        & i { color: #ff4264 !important; }
    }
}

.services {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;

    & .features {
        max-width: 1200px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        & .card {
            background-color: #111112;
            border-radius: 8px;
            padding: 15px;
            
            & div {
                & .cont-service-span {
                    display: flex; align-items: center; margin-bottom: 15px;
                }
                
                & span {
                    font-size: 20px;
                    padding: 10px 13px;
                    color: #9facc6;
                    border-radius: 8px;
                    background-color: #0a0a0b;
                }
                
                & h4 { color: #fff; font-size: 17px; margin-left: 10px; font-weight: 600; }
                & .verde { color: #98c379; }
                & .orange { color: #98c379; }
                & p { color: #a3a3a3; font-size: 16px; font-weight: 400; line-height: 24px;; }
            }
        }
    }
}

.education {
    & .features {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        & .card {
            flex: 1;
            border: 2px solid #171718;
            background-color: #0a0a0b;
            
            & span {
                width: 47px;
                background-color: #171718 !important;
            }
        }
        
        & .cont-service-span {
            display: grid !important;
            padding: 0;
            margin: 0 !important;

            & h4 {
                padding-bottom: 15px;
                margin-left: 0 !important;
            }
        }

        & h3 {
            color: #a3a3a3;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

.separate-double {
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 30px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
    & div .title {
        font-size: 30px;
        text-align: left;
        width: 100%;
        color: #fff;
    }
    
    & div .sub-title {
        color: #a3a3a3;
        font-size: 17px;
        font-weight: 400;
        text-align: left;
        width: 100%;
        padding-top: 10px;
        line-height: 24px;
    }
}

.proyectos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    position: relative;
    z-index: 10;
}

.aportes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .content1 {
        max-width: 1200px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        
        & .card {
            display: grid;
            width: 100%;
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);

            & .mini-card {
                border-radius: 8px;
                padding: 15px;
                transition: 150ms;
                text-decoration: none;
                background-color: #111112;

                &:hover {
                    background-color: #2b191d;
                    color: #ff4264;
    
                    & i {
                        color: #ff4264;
                    }
                }

                & h4 {
                    font-size: 17px;
                    color: #fff;
                    padding-bottom: 15px;

                    & i { margin-right: 10px; }
                }

                & p { color: #a3a3a3; font-weight: 400; font-size: 16px; line-height: 24px; }
            }
        }
    }

    & .content2 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        max-width: 1200px;
        padding: 0;
        margin: 0;
        
        & div {
            display: grid;
            place-items: center;
            position: relative;
            border-radius: 16px;
            background-color: #0a0a0b;
            border: 2px solid #171718;
            padding: 5px;
            
            & img {
                width: 36px;
                border-radius: 8px;
            }

            &:hover {
                & p {
                    display: flex;
                    z-index: 1000;
                    scale: 1;
                }
                
                & img {
                    filter: brightness(0.5);
                }
            }
            
            & p {
                color: #a3a3a3;
                font-weight: 400;
                padding: 5px 10px;
                border-radius: 8px;
                white-space: nowrap;
                position: absolute;
                top: -40px;
                scale: 0;
                transition: 100ms;
                background-color: #171718;
                border: 1px solid #303030;
                box-shadow: inset 0 0 10px #202020;
            }
        }
    }

    & .content3 {
        max-width: 1200px;
        gap: 10px;
        width: 100%;

        & .card-code {
            border-radius: 8px;
            display: grid;
            overflow: hidden;
            background-color: #0a0a0b;
            border: 2px solid #171718;
            
            & h1 {
                background-color: #171718;
                width: 100%;
                padding: 10px 15px;
                display: flex;
                font-size: 18px;
                color: #fff;
                font-weight: 600;
                align-items: center;
                justify-content: space-between;
                font-size: 17px;
            }

            & .separate {
                display: flex;
                align-items: center;
                gap: 5px;

                & div {
                    width: 15px;
                    height: 15px;
                    border-radius: 8px;
                }

                & .red { background-color: #ff4242; }
                & .yellow { background-color: #fff242; }
                & .green { background-color: #42ff52; }
            }

            & .content-code {
                padding: 15px;
                display: grid;
                gap: 10px;
                
                & span { 
                    font-size: 16px !important; 
                    word-wrap: break-word !important; 
                    overflow-wrap: anywhere !important;
                }

                & .cont-info {
                    display: flex;
                    gap: 10px;

                    & div {
                        padding: 5px 15px;
                        background-color: #202020;
                        box-shadow: inset 0 0 10px #303030;
                        border-radius: 6px;
                        color: #fff;
                        font-size: 15px;
                        display: flex;
                        align-items: center;

                        & img { width: 20px; margin-right: 5px; border-radius: 10px; }
                    }
                }

                & p { 
                    color: #a3a3a3; 
                    font-family: "JetBrains Mono", monospace;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    max-width: 110ch;
                }

                & .main { color: #a3a3a3; }

                & .option { color: #e06c75; }

                & .text { color: #98c379; }

                & .number { color: #56b6c2; }
            }
        }
    }
}

.pricing {
    display: grid;
    max-width: 1200px;

    & .carousel-button {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        padding-bottom: 20px;

        & button {
            width: 20px;
            height: 10px;
            border-radius: 10px;
            cursor: pointer;
            border: 2px solid #ff4264;
            background-color: #2b191d;
        }
        
        & .but-1 { background-color: #ff4264; }
    }
    
    & .card {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        
        & .content {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            & img {
                width: 100%;
                border-radius: 8px;
                border: 2px solid #171718;
            }

            & .cont-info-project {
                width: 100%;
                display: grid;
                padding-top: 25px;
                gap: 20px;

                & .cont-info-1 {
                    display: grid;
                    gap: 15px;
                    & h4 {
                        color: #fff;
                        font-size: 25px;
                    }

                    & p {
                        color: #a3a3a3;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                & .cont-info-2 {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    
                    & div {
                        background-color: #070a0d !important;
                        margin: 0;
                        padding: 0;
                    }

                    & img {
                        min-width: 30px;
                        max-width: 30px;
                    }

                    & .external-link {
                        height: 30px;
                        padding: 0 10px;
                        display: grid;
                        place-items: center;
                        background-color: #2b191d;
                        box-shadow: inset 0 0 10px #41262c;
                        color: #ff4264;
                        text-align: center;
                        border-radius: 6px;

                        text-decoration: none;
                    }
                }
            }
        }
    }

    & .card-2, .card-3, .card-5 {
        display: none;
        transform: translateX(2000%);
    }
}

.contact {
    display: grid;
    place-items: center;
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;

    & img {
        position: absolute;
        width: 270px;
        bottom: 0;
        right: 50px;
        z-index: 900;
    }

    & .cont-contact {
        max-width: 1200px;
        width: 100%;
        position: relative;
        
        & form {
            display: grid;
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            background-color: #111112;
            
            & .row {
                width: 100%;
                & input {
                    width: 100%;
                    margin-bottom: 10px;
                    height: 40px;
                    padding-left: 10px;
                    font-size: 16px;
                    color: #a3a3a3;
                    border-radius: 8px;
                    font-weight: 500;
                    font-family: "Roboto", sans-serif;
                    background-color: #0a0a0b;
                    border: 1px solid #0a0a0b;
                }
            }
    
            & textarea {
                margin-top: 0px;
                padding: 5px;
                width: 100%;
                height: 300px;
                padding-left: 10px;
                font-weight: 500;
                font-size: 16px;
                color: #a3a3a3;
                font-family: "Roboto", sans-serif;
                resize: none;
                border-radius: 8px;
                background-color: #0a0a0b;
                border: 1px solid #0a0a0b;
            }
    
            & .cont-button {
                transition: all 0.3s ease;
                position: absolute;
                bottom: 20px;
                right: 20px;
    
                & .btn {
                    width: 80px;
                    padding: 10px 0;
                    color: #a3a3a3;
                    font-size: 16px;
                    font-weight: 500;
                    background-color: #171718;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    font-family: "Roboto", sans-serif !important;
                    box-shadow: inset 0 0 10px #202020;
    
                    &:hover {
                        background-color: #2b191d;
                        color: #ff4264;
                        box-shadow: inset 0 0 10px #41262c;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .services {
        & .features {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .education {
        & .features {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .pricing .card {  
        & .content {
            & .cont-info-project {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                padding-top: 25px;
            }
        }
    }

    header {
        padding-top: 150px;

        & .content1 {
            max-width: 1200px;
            width: 100%;
    
            & p { 
                color: #a3a3a3; 
                font-size: 16px !important; 
                line-height: 24px; 
            }
        }
    }
    
    .cont-title .title {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .aportes {
        .content1 {
            & .card {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .education {
        & .features {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    
    .services {
        & .features {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    header {
        & .social-media {
            & .cont-social-media {
                font-size: 0 !important;
                width: auto;
    
                & i { color: #a3a3a3; font-size: 1.4rem; margin-top: -2px; margin-right: 5px;}
            }
        }
    
        & .active {
            background-color: #2b191d !important;
            color: #ff4264 !important;
    
            & i { color: #ff4264 !important; }
        }
    }
}
