@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --color-bg: #0a0a0b;
    --color-bg-alt: #111112;
    --color-bg-hover: #2b191d;
    --color-primary: #ff4264;
    --color-border: #171718;
    --color-shadow: #202020;
    --color-border-two: #171718;
    --color-border-tree: #303030;
    --color-shadow-inset: #41262c;
    --color-font-primary: #fff;
    --color-font-secondary: #a3a3a3;
    --color-accent: #f7f19f;
    --color-scrollbar: #151c22;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html { position: relative; 
    scrollbar-color: var(--color-scrollbar) var(--color-bg) !important;
    scrollbar-width: thin !important; 
}

body {
    background-color: var(--color-bg);
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    padding: 0 30px;
}

.blur1 {
    position: fixed;
}

.nav-bar {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    backdrop-filter: blur(10px);
    z-index: 2000;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);

    & .cont-links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        & h1 { 
            color: var(--color-primary);
            font-size: 20px;
            padding: 5px 15px;
            background-color: var(--color-bg-hover);
            box-shadow: inset 0 0 10px var(--color-shadow-inset);
            border-radius: 40px;
            font-weight: 500;
        }

        &  .change-theme {
            font-size: 20px;
            padding: 5px 20px 6px 20px;
            background-color: transparent;
            color: var(--color-primary);
            background-color: var(--color-bg-hover);
            box-shadow: inset 0 0 10px var(--color-shadow-inset);
            cursor: pointer;
            border-radius: 40px;
            font-weight: 400;
        }

        & .nav-links {
            display: flex;
            list-style-type: none;
            gap: 10px;

            & .link a {
                text-decoration: none;
                color: var(--color-font-primary);
                font-weight: 500;

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
}

.cont-title {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    & .cont-img2 {
        margin-right: 10px;
        width: 80px;
        height: 80px;
        border: 2px solid var(--color-font-primary);
        border-radius: 50%;
        background-image: url('images/Yo.png');
        background-size: 200px;
        background-repeat: no-repeat;
        background-position-x: -60px;
        background-position-y: -15px;
    }
}

header {
    height: 50px;
}

.about {
    z-index: 1000 !important;
    width: 100%;
    display: grid;
    place-items: start;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
  
    & .content1 {
        max-width: 1200px;
        width: 100%;
        padding-top: 10px;

        & .title {
            font-size: 30px;
            font-weight: 900;
            position: relative;
            color: var(--color-font-primary);
            padding: 0;
            margin: 0;
        }

        & p { 
            color: var(--color-font-secondary); 
            padding: 15px 0; 
            font-size: 16px !important; 
            line-height: 24px; 
            text-align: left; 
            font-weight: 400;

            & span {
                color: var(--color-accent);
                font-weight: 500;
            }
        }
    }

    & .social-media {
        display: flex;
        gap: 10px;
        padding-top: 10px;

        & .cont-social-media {
            border-radius: 20px;
            background-color: var(--color-border);
            box-shadow: inset 0 0 10px var(--color-shadow);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px 15px;
            text-decoration: none;
            color: var(--color-font-secondary);
            font-size: 16px;
            font-weight: 500;
            border: 1px solid var(--color-border-tree);

            & i { color: var(--color-font-secondary); font-size: 1.4rem; margin-top: -2px; margin-right: 5px;}
        }
    }
}

.experiencia {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;

    & .features {
        max-width: 1200px;
        width: 100%;
        display: grid;
        gap: 30px;

        & .card {
            border-left: 2px solid var(--color-accent);
            padding: 0 15px;
            
            & div {
                & .cont-service-span {
                    display: grid; align-items: center;
                    gap: 15px;

                    & span {
                        color: var(--color-font-primary); 
                        font-size: 17px; 
                        font-weight: 600;
                        display: flex;
                        gap: 10px;
                    }

                    & h4 { color: var(--color-font-primary); font-size: 16px; font-weight: 500; }
                    & h3 { color: var(--color-font-primary); font-size: 16px; font-weight: 500; }
                    & .verde { color: var(--color-accent); font-size: 20px; font-weight: 400; }
                }

                & p { color: var(--color-font-secondary); font-size: 16px; font-weight: 400; line-height: 24px; margin-top: 13px; }
            }
        }
    }
}

.services {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;

    & .features {
        max-width: 1200px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        & .card {
            border: 1px solid var(--color-border-two);
            border-radius: 8px;
            padding: 15px;
            
            & div {
                & .cont-service-span {
                    display: flex; align-items: center; margin-bottom: 15px;
                }
                
                & span {
                    font-size: 20px;
                    border-radius: 6px;
                    background-color: var(--color-bg);
                }
                
                & h4 { color: var(--color-font-primary); font-size: 17px; margin-left: 10px; font-weight: 600; }
                & .verde { color: var(--color-accent); }
                & .orange { color: var(--color-accent); }
                & p { color: var(--color-font-secondary); font-size: 16px; font-weight: 400; line-height: 24px;; }
            }
        }
    }
}

.separate-double {
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 30px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
    & div .title {
        font-size: 30px;
        text-align: left;
        width: 100%;
        color: var(--color-font-primary);
    }
    
    & div .sub-title {
        color: var(--color-font-secondary);
        font-size: 17px;
        font-weight: 400;
        text-align: left;
        width: 100%;
        padding-top: 10px;
        line-height: 24px;
    }
}

.proyectos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    position: relative;
    z-index: 10;
}

.pricing {
    display: grid;
    max-width: 1200px;
    gap: 35px;
    
    & .card {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        
        & .content {
            overflow: hidden;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 20px;

            & img {
                width: 100%;
                border-radius: 8px;
                border: 1px solid var(--color-border-two);
            }

            & .cont-info-project {
                width: 100%;
                display: grid;
                gap: 20px;

                & .cont-info-1 {
                    display: grid;
                    gap: 15px;
                    
                    & h4 {
                        color: var(--color-font-primary);
                        font-size: 25px;
                    }

                    & p {
                        color: var(--color-font-secondary);
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                & .cont-info-2 {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    max-width: 400px;
                    
                    & div {
                        background-color: var(--color-bg) !important;
                        margin: 0;
                        padding: 0;
                    }

                    & img {
                        min-width: 30px;
                        max-width: 30px;
                    }

                    & .external-link {
                        height: 30px;
                        padding: 0 15px;
                        display: grid;
                        place-items: center;
                        background-color: var(--color-bg-alt);
                        box-shadow: inset 0 0 10px var(--color-shadow);
                        color: var(--color-font-secondary);
                        text-align: center;
                        border-radius: 20px;

                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.contact {
    display: grid;
    place-items: center;
    width: 100%;
    padding-bottom: 30px;

    & img {
        position: absolute;
        width: 270px;
        bottom: 0;
        right: 50px;
        z-index: 900;
    }

    & .cont-contact {
        max-width: 1200px;
        width: 100%;
        
        & form {
            display: grid;
            width: 100%;
            border-radius: 8px;
            position: relative;
            
            & .row {
                width: 100%;
                position: relative;

                & input {
                    width: 100%;
                    margin-bottom: 15px;
                    height: 40px;
                    padding-left: 10px;
                    font-size: 16px;
                    color: var(--color-font-secondary);
                    border-radius: 8px;
                    background-color: var(--color-bg);
                    border: 1px solid var(--color-border-two);
                }

                & div {
                    position: absolute;
                    color: var(--color-font-secondary);
                    top: -11px;
                    left: 10px;
                    z-index: 10000 !important;
                    padding: 3px 10px;
                    background-color: var(--color-bg);
                    font-size: 14px;
                }

                & textarea {
                    margin-top: 0px;
                    padding: 5px;
                    width: 100%;
                    height: 300px;
                    padding-left: 10px;
                    font-weight: 500;
                    font-size: 16px;
                    color: var(--color-font-secondary);
                    font-family: "Roboto", sans-serif;
                    resize: none;
                    border-radius: 8px;
                    background-color: var(--color-bg);
                    border: 1px solid var(--color-border-two);
                }
            }
    
            & .cont-button {
                position: absolute;
                bottom: 10px;
                right: 10px;
    
                & .btn {
                    width: 80px;
                    padding: 8px 0;
                    color: var(--color-font-secondary);
                    font-size: 16px;
                    font-weight: 500;
                    border-radius: 20px;
                    font-family: "Roboto", sans-serif !important;
                    background-color: var(--color-bg-alt);
                    box-shadow: inset 0 0 10px var(--color-shadow);
                    border: 1px solid var(--color-border-tree);
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .services {
        & .features {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .education {
        & .features {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .pricing .card {  
        & .content {
            & .cont-info-project {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
            }
        }
    }

    header {
        padding-top: 150px;

        & .content1 {
            max-width: 1200px;
            width: 100%;
    
            & p { 
                font-size: 16px !important; 
                line-height: 24px; 
            }
        }
    }
    
    .cont-title .title {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 930px) {
    .pricing {
        & .card {
            & .content {
                display: grid;
            }
        }
    }
}

@media (max-width: 700px) {
    .aportes {
        .content1 {
            & .card {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .education {
        & .features {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    
    .services {
        & .features {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    header {
        & .social-media {
            & .cont-social-media {
                font-size: 0 !important;
                width: auto;
    
                & i { font-size: 1.4rem; margin-top: -2px; margin-right: 5px;}
            }
        }
    }
}
